# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
windows_venv/
*.env
*.sqlite3

# Django
*.log
media/
staticfiles/

# Node / frontend
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/

echo "backend/venv/" >> .gitignore
echo "frontend/node_modules/" >> .gitignore
echo "frontend/package-lock.json" >> .gitignore
echo ".vscode/" >> .gitignore
