amqp
asgiref
attrs
autobahn
Automat
billiard
celery
cffi
channels
channels_redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
constantly
cryptography
daphne
dj-database-url
Django>=4.2.0
django-cors-headers
django-filter
django-redis
django_celery_results
djangorestframework
djangorestframework_simplejwt
drf-nested-routers
django-solo
et_xmlfile
hiredis
holidays
hyperlink
idna
incremental
kombu
lxml
msgpack
openpyxl
packaging
pillow
prompt_toolkit
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
python-dateutil
pytz
redis
reportlab
service-identity
setuptools
six
sqlparse
Twisted
txaio
typing_extensions
tzdata
vine
wcwidth
xmltodict
zope.interface
whitenoise
valkey[hiredis]
valkey
